body{
    background-color: #12231D;
    font-family: Arial, Helvetica, sans-serif, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

#main{
    height: 2000px;
    width: 900px;
    background-color: rgb(35, 54, 50);
    border-left: 5px solid  rgb(40, 61, 57);
    border-right: 5px solid  rgb(40, 61, 57);
    margin: 0 auto; /** Ajusta ao centro */
}

#header{
    height: 250px;
}

#cover{
    /*border: 5px solid white;*/
    width: 30%;
    float: left;
}

#cover img{
    height: 200px;
    width: auto;
}

#albumInfo{
    width: 65%;
    float: right;
}

#albumInfo h1{
    margin-top: 5px;
    font-size: 4em;
}

#content{
    height: 500px;
}

#footer{
    height: 200px;
    border: 5px solid rgb(0, 255, 21);
}

/*Estilos da lista de música*/
#songsList{
    width: 100%;
}
#songsList th,td{
    color: rgb(179,179,179);
    font-weight: normal;
}
#songsList tbody tr:hover{
    background-color: rgb(75, 94, 90);
}
.leftText{
    text-align: left;
}
.centerText{
    text-align: center;
}
.rightText{
    text-align: right;
}
.songTittle{
    color:rgb(249, 249, 249)
}
.songMembers a{
    color: rgb(179, 179, 179);
    text-decoration: none;
}

.songMembers a:hover{
    color: rgb(249, 249, 249);
    text-decoration: underline;
}